{% extends 'mailing_app/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Отчет проведенных рассылок</h1>
</div>
<div class="container">
    <div class="row text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><h5>Номер</h5></th>
                <th scope="col"><h5>Дата и время последней попытки</h5></th>
                <th scope="col"><h5>Номер рассылки</h5></th>
                <th scope="col"><h5>Статус рассылки</h5></th>
                <th scope="col"><h5>Статус отправки</h5></th>
                <th scope="col"><h5>Периодичность</h5></th>
                <th scope="col"><h5>Ответ почтового сервера</h5></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}

            <tr>
                <th scope="row">
                    {{ forloop.counter }}
                </th>
                <th scope="row">
                    {{ object.last_attempt_time }}
                </th>
                <td>{{ object.mailing.pk }}</td>
                <td>
                    {% if object.mailing.status == 'created' %}
                    <h5><span class="badge bg-success">Создана</span></h5>
                    {% elif object.mailing.status == 'launched' %}
                    <h5><span class="badge bg-info">Запущена</span></h5>
                    {% else %}
                    <h5><span class="badge bg-danger">Завершена</span></h5>
                    {% endif %}
                </td>
                <td>
                    {% if object.attempt_status == 'success' %}
                    <h5><span class="badge bg-success">Успешно</span></h5>
                    {% elif object.attempt_status == 'failed' %}
                    <h5><span class="badge bg-danger">Неудачно</span></h5>
                    {% endif %}
                </td>
                <td>{{ object.mailing.periodicity }}</td>
                <td>{{ object.logging }}</td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}