{% extends 'mailing_app/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Клиент</h1>

</div>
<div class="container">
    <div class="row text-center">

        <h5>Полное имя.</h5>
        <p> {{ object.full_name }}</p>
        <h5>Адрес электронной почты.</h5>
        <p> {{ object.email }}</p>
        <h5>Комментарии:</h5>
        <p>{{ object.comment }}</p>
        <h5>Кто добавил:</h5>
        <p> {{ object.user_customer }}</p>
        <h5>Дата создания:</h5>
        <p> {{ object.date_creation_client }}</p>

        <h5><a href="{% url 'mailing_app:customers_list' %}" class="nav-link">Назад</a></h5>
        <h5><a href="{% url 'mailing_app:customers_update' pk=object.pk %}" class="nav-link">Редактировать</a></h5>
        <h5><a href="{% url 'mailing_app:customers_delete' pk=object.pk %}" class="nav-link">Удалить</a></h5>

    </div>
</div>
{% endblock %}