{% extends 'mailing_app/base.html' %}
{% load my_custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Главная страница</h1>
        </div>
        <div class="text-center">
            <h4 class="display-10">Информация по рассылкам</h4>
        </div>

                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <p>Количество рассылок всего {{ mailing_list|length }} </p>
                        </div>
                        <div class="col">
                            <p>Количество активных рассылок {{ mailing_active_count }}</p>
                        </div>
                        <div class="col">
                            <p>Количество уникальных клиентов для рассылок {{ unique_clients_count }}</p>
                        </div>
                    </div>
                </div>


        <div class="container col">
            <h3 class="display-6">Блог</h3>
            <p>{% if blogs_list|length == 0 %} Нет блогов {% endif %}</p>
            {% for blog in blogs_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text">{{ blog.content | slice:200 }}</p>
                    <img class="card-img-top" src="{{ blog.image | my_media }}" alt="Card image cap">
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}

</body>
</html>