{% extends 'mailing_app/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Рассылка</h1>

</div>
<div class="container">
    <div class="row text-center">
        <h5>Номер рассылки.</h5>
        <p>{{ object.pk }}</p>
        <h5>Дата первой отправки.</h5>
        <p>{{ object.datetime }}</p>
        <h5>Периодичность.</h5>
        <p>{{ object.periodicity }}</p>
        <h5>Название сообщения.</h5>
        <p>{{ object.massage }}</p>
        <h5>Статус рассылки.</h5>
        <p>
            {% if object.attempt.exists %}
                    {{ object.attempt.latest.attempt_status }}
                {% else %}
                    Нет попыток
            {% endif %}
        </p>
        <h5>Клиенты рассылки:</h5>
        <p>{% for customers in object.customers.all %} {{ customers.full_name }} <br> {% endfor %}</p>
        {% if user.is_authenticated %}
            {% if object.attempt.latest.attempt_status != 'Запущена' %}
        <h4>Отправить рассылку</h4>
        <a href="{% url 'mailing_app:start_mailing' object.pk %}">Запустить рассылку</a>
        {% elif object.attempt.latest.attempt_status == 'Запущена' %}
        <h4>Остановить рассылку</h4>
        <a href="{% url 'mailing_app:stop_mailing' object.pk %}">Остановить рассылку</a>
            {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}