{% extends 'mailing_app/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Список сообщений для рассылки</h1>

</div>
<div class="container">
    <h5><a href="{% url 'mailing_app:message_form' %}" class="nav-link">Добавить сообщение</a></h5>
    <div class="row text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><h5>Номер</h5></th>
                <th scope="col"><h5>Тема сообщения</h5></th>
                <th scope="col"><h5>Дата создания</h5></th>

            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            {% if user.is_authenticated %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <th scope="row"><a class="lead" href="{% url 'mailing_app:message_detail' pk=object.pk %}">
                    {{ object.title }}</a></th>
                <td>{{ object.created_at }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
